<!DOCTYPE html>
<html>
    <header>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="icon" type="image/png" href="pawlogo.png" />
    </header>
    <body>
        <h1>Admin</h1>
        <p id="rooms" style="display: none;"></p>
        <p id="announcement"><%= announcement %></p>
        <p id="invalid" style="display: none;">Invalid URL. Please rejoin room from rooms page. Redirecting in 5 seconds.</p>
        <div id="onLoginCon" style="display: none;">
            <input id="messagebox" placeholder="Type your message..."/>
            <button id="sendBtn" type="button" onclick="send()">Send</button>
            <br />
            <br />
            <button type="button" onclick="goback()">Go Back</button>
            <button id="sendBtn" type="button" onclick="kill()">Kill</button>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
            const rooms = <%- JSON.stringify(rooms) %>;
            const appLink = <%- JSON.stringify(appLink) %>;
            const auth0User = <%- JSON.stringify(userData) %>;
            const userID = auth0User['id'];
            const fullName = auth0User['displayName'];
            const email = auth0User['emails'][0]['value'];
            var socket = io.connect(appLink);

            if(document.getElementById("announcement").innerHTML == "") {
                $("#announcement").hide();
            }

            function onlyShowDestroyDialogue() {
                $("#messagebox").hide();
                $("#sendBtn").hide();
                $("#passwordbox").hide();
                $("#validateBtn").hide();
                $("#participantsList").hide();
                setInterval(goback, 5000);
            }

            socket.on('connect', function(data) {
                refreshRooms();
                if(auth0User) {
                    onSignIn();
                }
            });

            socket.on('announcement', function(newAnnouncement) {
                if(newAnnouncement == "") {
                    $("#announcement").hide();
                }
                else {
                    $("#announcement").show();
                }
                document.getElementById("announcement").innerHTML = newAnnouncement;
            });

            socket.on('refreshRooms', function(data) {
                rooms = JSON.stringify(data['rooms']);
                refreshRooms();
            });

            function refreshRooms() {
                var res = JSON.parse(rooms);
                document.getElementById("rooms").innerHTML = JSON.stringify(res);
            }

            function send() {
                if(document.getElementById("messagebox").value != "") {
                    socket.emit('announce', "Admin Announcement: " + document.getElementById("messagebox").value);
                    document.getElementById("messagebox").value = "";
                }
                else {
                    socket.emit('announce', "");
                }
            }

            function kill() {
                socket.emit('kill', "");
            }

            function goback() {
                window.location.href=appLink;
            }

            function onSignIn() {
                $("#onLoginCon").show();
                $("#rooms").show();
            }

            $(window).keydown(function(e) {
                switch (e.keyCode) {
                    case 13:
                        send();
                        return;
                }
            });
        </script>
    </body>
</html>