<!DOCTYPE html>
<html>
    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="758290075776-i5a0a6680n51lo76p8qfignd0s5148jd.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>Welcome to TigerAmbush</h1>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <h2 style="display: none;">Rooms</h2>

        <div class="roomsCon" >
            <div class="room" style="display: none;">
                <a class="roomName" href="#">Room Name</a>
                <br />
                <br />
            </div>
        </div>
        <p id="loadingRooms" style="display: none;">Loading rooms...</p>
        <button id="newRoomBtn" type="button" onclick="showNewRoomForm()" style="display: none;">New Room</button>
        <div id="newRoomCon" style="display: none;">
            <input id="roomNameField" placeholder="Room Name"/>
            <button type="button" onclick="createRoom()">Create Room</button>
            <button type="button" onclick="closeForm()">Close Form</button>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            var socket = io.connect('https://tigerambush.herokuapp.com/');
            //var id = Math.floor(Math.random() * 9007199254740990);
            var id = "";
            var rooms = new Array();

            socket.on('connect', function(data) {
                socket.emit('console', 'New user loaded rooms page.');
            });

            socket.on(id, function(data) {
                refreshRooms(data);
            });

            socket.on('refreshRooms', function(data) {
                refreshRooms(data);
            });

            function refreshRooms(res) {
                var roomsCon = $(".roomsCon").eq(0);
                var roomEntries = roomsCon.children();
                for(i = 1; i < roomEntries.length; i++) {
                    roomEntries.eq(i).remove();
                }

                $("#newRoomCon").hide();
                $("#newRoomBtn").show();
                $("#loadingRooms").hide();
                document.getElementById("roomNameField").value = "";

                var roomNames = Object.keys(res);
                var i;
                for(i = 0; i < roomNames.length; i++) {
                    var newRoom = $(".room").eq(0).clone().show();
                    $(".roomsCon").append(newRoom);
                    newRoom.children(".roomName").eq(0).attr("href", res[roomNames[i]]['link']);
                    newRoom.children(".roomName").eq(0).text(res[roomNames[i]]['name']);
                }
            }

            function showNewRoomForm() {
                $("#newRoomCon").show();
                $("#newRoomBtn").hide();
            }

            function createRoom() {
                var i;
                for(i = 0; i < rooms.length; i++) {
                    if(rooms[i]['name'] == document.getElementById("roomNameField").value) {
                        alert("Room Name already taken.");
                        return;
                    }
                }
                socket.emit('createRoom', document.getElementById("roomNameField").value);
            }

            function closeForm() {
                $("#newRoomCon").hide();
                $("#newRoomBtn").show();
            }

            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                // The ID token you need to pass to your backend:
                id = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id);
                socket.emit('getRooms', id);
            }
        </script>
    </body>
</html>