<!DOCTYPE html>
<html>
    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="758290075776-i5a0a6680n51lo76p8qfignd0s5148jd.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
        <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
        crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="logo.png" />
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <!-- header -->
        <div class="header d-flex justify-content-around">
            <img src="logo.png" alt="logo" height="150px" width="150px">
            <h1 class="mt-5">TIGER AMBUSH</h1>
            <img src="logo.png" alt="logo" height="150px" width="150px">
        </div>
        <div class="line-heading">
            <h3 class="subheading typing"></h3>
        </div>
        
        <hr class="style-four" id="style-four">
        
        <div class="container" id="welcomeCon">
            <div class="chat" id="chatpics">              
                <img src="leftbubble.png" alt="left speech bubble" height="75px" width="250px">
                <br>
                <img src="rightbubble.png" alt="right speech bubble" height="75px" width="250px">
                <br>
                <img src="leftbubble.png" alt="left speech bubble" height="75px" width="250px">
                <div id="gsignin" class="g-signin2 signin2" data-onsuccess="onSignIn" data-theme="light" data-width="250" data-height="50" data-longtitle="true"></div>
            </div>
        </div>

        <!-- Login and Rooms -->
        <p id="appLink" style="display: none;"><%= appLink %></p>
        <!-- <br />
        <br />
        <br />
        <div id="roomHead" style="display: none;">
            <div class ="header2"> 
                <br />
                
            </div>
        </div> -->
        <div id="topMenuBar" style="display: none;">
            <div class="header3 justify-content-around">
                <br />
                <table width="100%">
                    <tr>
                        <td><h3 id="roomHeader" style="display: none;">Available Rooms</h3></td>
                        <td style="text-align: right; padding-right:50px;"> <h3 id="emailHeader" style="display: none;"></h3></td>
                    </tr>
                    <tr>
                        <td>
                            <input id="searchbox" placeholder="Search rooms..." style="display: none;"/>
                            <button id="searchBtn" type="button" onclick="search()" style="display: none;">Search</button>
                            <button id="clearSearchBtn" type="button" onclick="clearSearch()" style="display: none;">Clear</button>
                        </td>
                        <td style="text-align: right; padding-right:50px;">
                            <button id="joinRandomBtn" type="button" onclick="joinRandom()" style="display: none;">Join Random</button>
                            <button id="newRoomBtn" type="button" onclick="showNewRoomForm()" style="display: none;">New Room</button>
                            <button id="signout" type="button" onclick="signOut()" style="display: none;"><span>Sign Out</span></button>
                        </td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
        <div id="newRoomFormCon" style="display: none;">
            <div class="header4 justify-content-around">
                <br />
                <input id="roomNameField" placeholder="Room Name"/>
                <input id="passwordField" placeholder="Password (optional)"/>
            </div>
            <div class="header5 justify-content-around">
                <br />
                <textarea id="descriptionField" rows="4" cols="40" placeholder="Describe your rooms purpose, class, or activity..."></textarea>
                <br />
                <br />
                <br />
                <input id ="openrandom" type="checkbox" onclick="onCheck()">
                <label>Open Random Joining</label>
                <button id="buttonCreate" type="button" onclick="createRoom()">Create Room</button>
                <button id="buttonCreate" type="button" onclick="hideNewRoomForm()">Close Form</button>
                <br />
            </div>
        </div>
        <div id="chatHeader" style="display: none;">
            <div class="chatRoomHeader justify-content-around">
                <br />
                <p id="loadingRooms" style="display: none;">Loading rooms...</p>
                <p id="noRooms" style="display: none;">No rooms to show...</p>
                <div class="roomsCon">
                    <div onmouseover="showDetails(this)" onmouseout="hideDetails(this)" class="room" style="display: none;">
                        <img src="logo.png" alt="logo" height="100px" width="100px">
                        <a class="roomName" style="font-size: 50px; margin-left: 1em; color: rgb(235, 235, 235); text-shadow: 5px 5px 7px rgb(65, 65, 65);"  href="#">Room Name</a>
                        <div class="numUsers" style="font-size: 20px; display: none;">Number of Active Users: </div>
                        <p class="roomDetails" style="display: none;"><p>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="typing.js"></script>
        <script type="text/javascript">
            var appLink = document.getElementById("appLink").innerHTML;
            var socket = io.connect(appLink);
            //var id = Math.floor(Math.random() * 9007199254740990);
            var rooms;
            var roomIDs;
            var roomRandomLinks;
            var id;
            var fullName;
            var givenName;
            var email;
            var nickname;
            var criteria;

            socket.on('connect', function(data) {
                socket.emit('console', 'New user loaded rooms page.');
            });

            socket.on('refreshRooms', function(data) {
                if($("#clearSearchBtn").is(':hidden')) {
                    refreshRooms(data);
                }
                else {
                    socket.emit('search', {"criteria": document.getElementById("searchbox").value, "userID": id});
                }
            });

            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                if(!profile.getEmail().includes("@princeton.edu")) {
                    alert("TigerAmbush is only available to the Princeton emails.");
                    signOut();
                    return;
                }

                // The ID token you need to pass to your backend:
                id = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id);

                fullName = profile.getName();
                givenName = profile.getGivenName();
                email = profile.getEmail();
                
                document.getElementById("chatpics").style.display = "none";
                document.getElementById("gsignin").style.display = "none";
                $("#roomHead").show();
                $("#topMenuBar").show();
                $("#chatHeader").show();
                $("#nickname").show();
                $("#emailHeader").show();
                $("#roomHeader").show();
                $("#newRoomBtn").show();
                $("#loadingRooms").show();
                $("#searchbox").show();
                $("#searchBtn").show();
                $("#signout").show();
                $("#welcomeCon").hide();
                $("#style-four").hide();

                document.getElementById("emailHeader").innerHTML = "Signed in as " + email;

                socket.emit('getRooms', id);
                socket.on(id, function(data) {
                    refreshRooms(data);
                });
            }

            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                    location.reload();
                });
            }

            function renderButton() {
                gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
                });
            }

            function refreshRooms(res) {
                var roomsCon = $(".roomsCon").eq(0);
                var roomEntries = roomsCon.children();
                for(i = 1; i < roomEntries.length; i++) {
                    roomEntries.eq(i).remove();
                }

                $("#newRoomFormCon").hide();
                $("#newRoomBtn").show();
                $("#joinRandomBtn").show();
                $("#loadingRooms").hide();
                document.getElementById("roomNameField").value = "";
                rooms = res;
                roomRandomLinks = new Array();
                roomIDs = Object.keys(res);
                var i;
                for(i = 0; i < roomIDs.length; i++) {
                    var newRoom = $(".room").eq(0).clone().show();
                    $(".roomsCon").append(newRoom);
                    var name;
                    if(nickname == undefined) {
                        name = fullName;
                    }
                    else {
                        name = nickname;
                    }
                    if(res[roomIDs[i]]['openRandomJoin']) {
                        roomRandomLinks.push(res[roomIDs[i]]['link']+"&fullName="+name+"&email="+email+"&userID="+id);
                    }
                    newRoom.children(".roomName").eq(0).attr("href", res[roomIDs[i]]['link']+"&fullName="+name+"&email="+email+"&userID="+id);
                    newRoom.children(".roomName").eq(0).text(res[roomIDs[i]]['roomName']);
                    newRoom.children(".roomDetails").eq(0).text(res[roomIDs[i]]['description']);
                    newRoom.children(".numUsers").eq(0).text("Number of Active Users: "+res[roomIDs[i]]['count']);
                }
                if(roomIDs.length == 0) {
                    $("#noRooms").show();
                }
                else {
                    $("#noRooms").hide();
                }
            }

            function showDetails(container) {
                $(container).children(".numUsers").eq(0).show();
                $(container).children(".roomDetails").eq(0).show();
            }

            function hideDetails(container) {
                $(container).children(".numUsers").eq(0).hide();
                $(container).children(".roomDetails").eq(0).hide();
            }

            function showNewRoomForm() {
                $("#newRoomFormCon").show();
                $("#newRoomBtn").hide();
                window.scrollTo(0, 500);
            }

            function hideNewRoomForm() {
                $("#newRoomFormCon").hide();
                $("#newRoomBtn").show();
            }

            function joinRandom() {
                window.location.href = roomRandomLinks[Math.floor(Math.random() * roomRandomLinks.length)];
            }

            function onCheck() {
                if($('#openrandom').is(":checked")) {
                    if(document.getElementById("passwordField").value != "") {
                        alert("Cannot open room to random join when the room requires a password.");
                        document.getElementById("openrandom").checked = false;
                    }
                    else {
                        document.getElementById("passwordField").readOnly = true;
                        $("#passwordField").hide();
                    }
                }
                else {
                    document.getElementById("passwordField").readOnly = false;
                    $("#passwordField").show();
                }
            }

            function createRoom() {
                // Validating data from newRoomFormCon
                if(document.getElementById("roomNameField").value == "") {
                    alert("Room Name required.");
                    return;
                }
                var i;
                for(i = 0; i < roomIDs.length; i++) {
                    if(rooms[roomIDs[i]]['name'] == document.getElementById("roomNameField").value) {
                        alert("Room Name already taken.");
                        return;
                    }
                }
                if($("#descriptionField").val().length < 20) {
                    alert("Description needs to be at least 20 characters.");
                    return;
                }
                var data = {
                    'roomName': document.getElementById("roomNameField").value,
                    'password': document.getElementById("passwordField").value,
                    'description': $("#descriptionField").val(),
                    'count' : Object.keys(res),
                    'openRandomJoin': $('#openrandom').is(":checked")
                };

                //Sending create room request
                socket.emit('createRoom', data);
            }

            function search() {
                criteria = document.getElementById("searchbox").value;
                if(document.getElementById("searchbox").value == "") {
                    alert("You didn't tell me what you're looking for.");
                    return;
                }
                $("#clearSearchBtn").show();
                socket.emit('search', {"criteria": document.getElementById("searchbox").value, "userID": id});
                socket.on('search'+id, function(data) {
                    refreshRooms(data);
                });
            }

            function clearSearch() {
                $("#clearSearchBtn").hide();
                criteria = "";
                document.getElementById("searchbox").value = "";
                socket.emit('getRooms', id);
            }
        </script>
    </body>
</html>