<!DOCTYPE html>
<html>
    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="758290075776-i5a0a6680n51lo76p8qfignd0s5148jd.apps.googleusercontent.com">
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
        <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
        crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="logo.png" />
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <!-- header -->
        <div class="header d-flex justify-content-around">
            <img src="logo.png" alt="logo" height="150px" width="150px">
            <h1 class="mt-5">TIGER AMBUSH</h1>
            <img src="logo.png" alt="logo" height="150px" width="150px">
        </div>
        <div class="line-heading">
            <h3 class="subheading">Meeting up virtually since 2020...</h3>
            <h2 id="emailHeader"></h2>
        </div>
        
        <hr class="style-four">
        
        <div class="container">
            <div class="chat">
                <img src="leftbubble.png" alt="left speech bubble" height="75px" width="250px">
                <br>
                <img src="rightbubble.png" alt="right speech bubble" height="75px" width="250px">
                <br>
                <img src="leftbubble.png" alt="left speech bubble" height="75px" width="250px">
            </div>
            <a href="google-signin-scope">
                <button class="login btn btn-outline-dark" type="button">LOGIN</button>
            </a>
        </div>

        <!-- Login and Rooms -->
        <p id="appLink" style="display: none;"><%= appLink %></p>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <br />
        <h2 id="emailHeader" style="display: none;"></h2>
        <br />
        <h2 id="roomHeader" style="display: none;">Rooms</h2>
        <input id="searchbox" placeholder="Looking for something?" style="display: none;"/>
        <button id="searchBtn" type="button" onclick="search()" style="display: none;">Search</button>
        <br />
        <br />
        <div class="roomsCon" >
            <div onmouseover="showDetails(this)" onmouseout="hideDetails(this)" class="room" style="display: none;">
                <a class="roomName" href="#">Room Name</a>
                <p class="roomDetails" style="display: none;"></p>
            </div>
        </div>
        <br />
        <br />
        <p id="loadingRooms" style="display: none;">Loading rooms...</p>
        <button id="joinRandomBtn" type="button" onclick="joinRandom()" style="display: none;">Join Random Room</button>
        <button id="newRoomBtn" type="button" onclick="showNewRoomForm()" style="display: none;">New Room</button>
        <div id="newRoomFormCon" style="display: none;">
            <input id="roomNameField" placeholder="Room Name"/>
            <input id="passwordField" placeholder="Password (optional)"/>
            <br />
            <textarea id="descriptionField" rows="4" cols="40" placeholder="Describe your rooms purpose, class, or activity..."></textarea>
            <br />
            <input type="checkbox" id="randomField" onclick="onCheck()">
            <label>Open random join?</label>
            <button type="button" onclick="createRoom()">Create Room</button>
            <button type="button" onclick="hideNewRoomForm()">Close Form</button>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            var appLink = document.getElementById("appLink").innerHTML;
            var socket = io.connect(appLink);
            //var id = Math.floor(Math.random() * 9007199254740990);
            var rooms;
            var roomIDs;
            var roomRandomLinks;
            var id;
            var fullName;
            var givenName;
            var email;

            socket.on('connect', function(data) {
                socket.emit('console', 'New user loaded rooms page.');
            });

            socket.on('refreshRooms', function(data) {
                refreshRooms(data);
            });

            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                // The ID token you need to pass to your backend:
                id = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id);

                fullName = profile.getName();
                givenName = profile.getGivenName();
                email = profile.getEmail();

                $("#roomHeader").show();
                $("#newRoomBtn").show();
                $("#loadingRooms").show();
                $("#emailHeader").show();
                $("#searchbox").show();
                $("#searchBtn").show();
                document.getElementById("emailHeader").innerHTML = "Signed in as " + email;

                socket.emit('getRooms', id);
                socket.on(id, function(data) {
                    refreshRooms(data);
                });
            }

            function renderButton() {
                gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
                });
            }

            function refreshRooms(res) {
                var roomsCon = $(".roomsCon").eq(0);
                var roomEntries = roomsCon.children();
                for(i = 1; i < roomEntries.length; i++) {
                    roomEntries.eq(i).remove();
                }

                $("#newRoomFormCon").hide();
                $("#newRoomBtn").show();
                $("#joinRandomBtn").show();
                $("#loadingRooms").hide();
                document.getElementById("roomNameField").value = "";
                rooms = res;
                roomRandomLinks = new Array();
                roomIDs = Object.keys(res);
                var i;
                for(i = 0; i < roomIDs.length; i++) {
                    var newRoom = $(".room").eq(0).clone().show();
                    $(".roomsCon").append(newRoom);
                    if(res[roomIDs[i]]['openRandomJoin']) {
                        roomRandomLinks.push(res[roomIDs[i]]['link']+"&fullName="+fullName+"&userID="+id);
                    }
                    newRoom.children(".roomName").eq(0).attr("href", res[roomIDs[i]]['link']+"&fullName="+fullName+"&userID="+id);
                    newRoom.children(".roomName").eq(0).text(res[roomIDs[i]]['roomName']);
                    newRoom.children(".roomDetails").eq(0).text(res[roomIDs[i]]['description']);
                }
            }

            function showDetails(container) {
                $(container).children(".roomDetails").eq(0).show();
            }

            function hideDetails(container) {
                $(container).children(".roomDetails").eq(0).hide();
            }

            function showNewRoomForm() {
                $("#newRoomFormCon").show();
                $("#newRoomBtn").hide();
            }

            function hideNewRoomForm() {
                $("#newRoomFormCon").hide();
                $("#newRoomBtn").show();
            }

            function joinRandom() {
                window.location.href = roomRandomLinks[Math.floor(Math.random() * roomRandomLinks.length)];
            }

            function onCheck() {
                if($('#randomField').is(":checked")) {
                    if(document.getElementById("passwordField").value != "") {
                        alert("Cannot open room to random join when the room requires a password.");
                        document.getElementById("randomField").checked = false;
                    }
                    else {
                        document.getElementById("passwordField").readOnly = true;
                        $("#passwordField").hide();
                    }
                }
                else {
                    document.getElementById("passwordField").readOnly = false;
                    $("#passwordField").show();
                }
            }

            function createRoom() {
                // Validating data from newRoomFormCon
                if(document.getElementById("roomNameField").value == "") {
                    alert("Room Name required.");
                    return;
                }
                var i;
                for(i = 0; i < roomIDs.length; i++) {
                    if(rooms[roomIDs[i]]['name'] == document.getElementById("roomNameField").value) {
                        alert("Room Name already taken.");
                        return;
                    }
                }
                if($("#descriptionField").val().length < 20) {
                    alert("Description needs to be at least 20 characters.");
                    return;
                }
                var data = {
                    'roomName': document.getElementById("roomNameField").value,
                    'password': document.getElementById("passwordField").value,
                    'description': $("#descriptionField").val(),
                    'openRandomJoin': $('#randomField').is(":checked")
                };

                //Sending create room request
                socket.emit('createRoom', data);
            }

            function search() {
                alert("Not implemented yet");
                /*
                socket.emit('search', {"criteria": document.getElementById("searchbox").value, "userID": id});
                socket.on('search'+id, function(rooms) {
                    refreshRooms(data);
                });
                */
            }
        </script>
    </body>
</html>