/****************************
ROOMS.EJS STYLES LANDING PAGE
*****************************/

html,
body {
	height: 100% !important;
	width: 100%;
	background: url("Rectangle.png") no-repeat center center fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Montserrat', sans-serif !important;
	/* max-width: 700px; */
}

/* .block { */
/* background: transparent !important; */
/* display: inline !important; */
/* } */

.navbar,
.navbar-nav {
	background: transparent !important;
	text-align: center;
	margin-left: 5%;
}

#logo,
#brand-text {
	display: inline-block;
	vertical-align: middle;
	margin-top: 4rem;
}

#logo {
	/* margin-left: 10rem; */
	margin-right: 1rem;
}

#brand-text {
	color: white;
	/* padding-top: 2rem; */
	font-weight: 300;
	font-size: 60px;
}

#ambush {
	font-weight: 500;
}

.navbar-brand {
	margin-left: 14px;
}

.header-shadow {
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 13px rgba(0, 0, 0, 0.1), 0px 9px 23px rgba(0, 0, 0, 0.1);
}

.links {
	padding: 0px;
	margin: 0px;
	/* display: inline !important;
	list-style-type: none !important;
	vertical-align: middle !important; */
	margin-top: 4.3rem;
	/* float: right; */
	margin-left: 20%;
}

.header-shadow a {
	text-decoration: none !important;
}

.header-shadow li:hover {
	color: black;
	text-shadow: 0 2px 3px rgba(143, 142, 142, 0.4);
}

.header-shadow a:hover {
	color: black !important;
}

.navbar li {
	display: inline;
	margin: 0 20px;
	color: white;
	font-weight: 500;
	display: inline !important;
	list-style-type: none !important;
	vertical-align: middle !important;
	padding: 20px 0px;
}

#sign-in {
	border: 3px solid white;
	padding: 20px 50px;
	border-radius: 40px;
	white-space: nowrap;
}

#sign-in:hover {
	background-color: white;
	color: black;
	text-shadow: none;
}

.headline {
	padding-top: 65px !important;
	margin-left: 5%;
	padding: 8px 16px;
	color: white;
	max-width: 50%;
	line-height: 1.5px !important;
}

.big-text {
	font-size: 4rem;
	font-weight: 600;
}

.sub-text {
	font-weight: 400;
	font-size: 20px;
}

.sub-text span {
	font-weight: 100;
}

.sub-text,
.sub-text span {
	letter-spacing: 1.7px;
	padding: 10px 0 !important;
}

br.sub-text {
	padding-top: 1px;
	padding-bottom: 1px;
}

p.sub-text {
	line-height: 1.7 !important;
}

.headline img {
	margin-top: 15px;
	margin-right: 5px;
}

#iphone img {
	position: absolute !important;
	right: 10%;
	bottom: 0% !important;
	width: 30%;
}

.customGPlusSignIn {
	/* background-image: linear-gradient(to right, #df9d62 , #9e6839); */
	background: linear-gradient(90deg, var(--c1, #df9d62), var(--c2, #9e6839) 51%, var(--c1, #df9d62)) var(--x, 0)/ 200%;
	border: none;
	border-radius: 25px;
	color: #ffffff;
	min-width: 200px;
	width: 12.5%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.customGPlusSignIn:hover {
	--x: 100%;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
}

/* .typing {
	position: relative;
	margin-top: 8px;
} */
/* .typing::after {
	content: "";
	width: 1px;
	height: 100%;
	border-right: 2px solid black; 
	animation: blink 1s infinite ease-in-out; 
} */

/**************************
ROOMS.EJS STYLES ROOMS PAGE
***************************/

.roomsPageCon {
	margin-left: 6%;
}

.room {
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	width: 95%;
}

.rooms-hr {
	border: 2px solid white;
	width: 90%;
}

/***************
INDEX.EJS STYLES
***************/

.signin2 {
	margin-top: 40px;
	width: 100%;
}

.signin2 > div {
	margin: 0 auto;
}

.chat-hr {
	border: 2px solid white;
	min-width: 608px;
	width: 50%;
}

#chatbox {
	background-color: #ffffff44;
	border-radius: 4px;
	border: none;
	height: 330px;
	width: 50%;
	min-width: 600px;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	padding: 6px;
}

#chatbox:focus,
#chatbox:hover {
	outline: none;
	border: none;
	box-shadow: 0px 0px 8px #ffffff44;
	-moz-box-shadow: 0px 0px 8px #ffffff44;
	-webkit-box-shadow: 0px 0px 8px #ffffff44;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	padding-left: 6px;
}

.inputClass {
	caret-color: white;
	color: white;
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	height: 46px;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	padding-left: 6px;
}

.inputClass::placeholder {
	color: white;
}

.inputClass::selection {
	color: #fcd0a1;
}

.inputClass:focus,
.inputClass:hover {
	height: 46px;
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	box-shadow: 0 4px 3px -3px #ffffff;
	-moz-box-shadow: 0 4px 3px -3px #ffffff;
	-webkit-box-shadow: 0 4px 3px -3px #ffffff;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	padding-left: 6px;
}

.inputClass:hover:after {
	opacity: 1;
}

.buttonClass {
	/* background-image: linear-gradient(to right, #df9d62 , #9e6839); */
	background: linear-gradient(90deg, var(--c1, #df9d62), var(--c2, #9e6839) 51%, var(--c1, #df9d62)) var(--x, 0)/ 200%;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	min-width: 150px;
	width: 12.5%;
	height: 50px;
}

.buttonClass:hover,
.buttonClass:focus {
	--x: 100%;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
}

.pClass {
	color: white;
	text-shadow: 0 4px 6px rgba(143, 142, 142, 0.8);
}

/* @keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} */

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		font-size: 16px;
	}
}
