/****************************
ROOMS.EJS STYLES LANDING PAGE
*****************************/

html,
body {
	height: 100% !important;
	width: 100%;
	background: url("Rectangle.png") no-repeat center center fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Montserrat', sans-serif !important;
	/* max-width: 700px; */
}

/* .block { */
/* background: transparent !important; */
/* display: inline !important; */
/* } */

.navbar,
.navbar-nav {
	background: transparent !important;
	text-align: left;
	margin-left: 5%;
	line-height: 50px;
}

.nav-item {
	white-space: nowrap;
}

#logo,
#brand-text {
	display: inline-block;
	vertical-align: middle;
	margin-top: 4rem;
}

#logo {
	/* margin-left: 10rem; */
	margin-right: 1rem;
}

#brand-text {
	color: white;
	/* padding-top: 2rem; */
	font-weight: 300;
	font-size: 60px;
}

#ambush {
	font-weight: 500;
}

.navbar-brand {
	margin-left: 14px !important;
}

.header-shadow {
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 13px rgba(0, 0, 0, 0.1), 0px 9px 23px rgba(0, 0, 0, 0.1);
}

.links {
	padding: 0px;
	margin: 0px;
	/* display: inline !important;
	list-style-type: none !important;
	vertical-align: middle !important; */
	margin-top: 4.3rem;
	/* float: right; */
	margin-left: 25%;
}

.header-shadow a {
	text-decoration: none !important;
}

.header-shadow li:hover {
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	color: black;
	text-shadow: 0 2px 3px rgba(143, 142, 142, 0.4);
}

.header-shadow a:hover {
	color: black !important;
}

.navbar li {
	display: inline;
	margin: 0 20px;
	color: white;
	font-weight: 500;
	display: inline !important;
	list-style-type: none !important;
	vertical-align: middle !important;
	padding: 20px 0px;
	/*padding: 20px 50px; */
}

#sign-in {
	border: 3px solid white;
	padding: 20px 50px;
	border-radius: 40px;
	white-space: nowrap;
}

#termsTeam {
	/* padding: 20px 54px; */
	white-space: nowrap;
}

#sign-in:hover {
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	background-color: white;
	color: black;
	text-shadow: none;
}

.headline {
	padding-top: 65px !important;
	margin-left: 5%;
	padding: 8px 16px;
	color: white;
	max-width: 50%;
	line-height: 1.5px !important;
}

.big-text {
	font-size: 4rem;
	font-weight: 600;
}

.sub-text {
	font-weight: 400;
	font-size: 20px;
}

.sub-text span {
	font-weight: 100;
}

.sub-text,
.sub-text span {
	letter-spacing: 1.7px;
	padding: 10px 0 !important;
}

br.sub-text {
	padding-top: 1px;
	padding-bottom: 1px;
}

p.sub-text {
	line-height: 1.7 !important;
}

.headline img {
	margin-top: 15px;
	margin-right: 5px;
}

#iphone img {
	position: absolute !important;
	right: 10%;
	bottom: 0% !important;
	width: 30%;
}

.customGPlusSignIn {
	/* background-image: linear-gradient(to right, #df9d62 , #9e6839); */
	background: linear-gradient(90deg, var(--c1, #df9d62), var(--c2, #9e6839) 51%, var(--c1, #df9d62)) var(--x, 0)/ 200%;
	border: none;
	border-radius: 25px;
	color: #ffffff;
	min-width: 200px;
	width: 12.5%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.customGPlusSignIn:hover {
	--x: 100%;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
}

/**************************
ROOMS.EJS STYLES ROOMS PAGE
***************************/

.roomsPageCon {
	margin-left: 6%;
	width: 90%;
}

.room {
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	width: 95%;
}

.rooms-hr {
	border: 2px solid white;
	width: 90%;
}

.roomInputClass {
	width: 20%;
	min-width: 250px;
}

.textareaClass {
	width: 41%;
	min-width: 500px;
}

.roomEditableClass {
	caret-color: white;
	color: white;
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	padding-left: 6px;
}

.roomEditableClass::placeholder {
	color: white;
}

.roomEditableClass::selection {
	color: #fcd0a1;
}

.roomEditableClass:focus,
.roomEditableClass:hover {
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	box-shadow: 0 4px 3px -3px #ffffff;
	-moz-box-shadow: 0 4px 3px -3px #ffffff;
	-webkit-box-shadow: 0 4px 3px -3px #ffffff;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	padding-left: 6px;
}

.newRoomsCon {
	border: 0;
	outline: 0;
	width: 55%;
	min-width: 520px;
}

.roomsButtonClass {
	margin-top: 5px;
	margin-right: 5px;
}

.teaminfoClass {
	text-align: center;
	color: white;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);
	/* text-shadow: 2px 2px 3px rgba(143, 142, 142, 0.4); */
}

.terminfoClass {
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	color: white;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);
	/* text-shadow: 2px 2px 3px rgba(143, 142, 142, 0.4); */
}

#teamCon img:hover {
	transform: scale(1.15);
	transition: transform .5s ease-in-out;
	-webkit-transition: transform .5s ease-in-out;
}

/***************
INDEX.EJS STYLES
***************/

.signin2 {
	margin-top: 40px;
	width: 100%;
}

.signin2 > div {
	margin: 0 auto;
}

.chat-hr {
	border: 2px solid white;
	min-width: 608px;
	width: 50%;
}

#chatbox {
	background-color: #ffffff44;
	border-radius: 4px;
	border: none;
	height: 330px;
	width: 50%;
	min-width: 600px;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	padding: 6px;
}

#chatbox:focus,
#chatbox:hover {
	outline: none;
	border: none;
	box-shadow: 0px 0px 8px #ffffff44;
	-moz-box-shadow: 0px 0px 8px #ffffff44;
	-webkit-box-shadow: 0px 0px 8px #ffffff44;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	padding-left: 6px;
}

.messageAreaClass {
	caret-color: white;
	color: white;
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: min(1.8vh, 2vw);
	font-weight: bold;
	width: 74%;
	min-width: 440px;
	resize: none;
}

.inputClass {
	caret-color: white;
	color: white;
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	height: 46px;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	padding-left: 6px;
}

.inputClass::placeholder,
.messageAreaClass::placeholder {
	color: white;
}

.inputClass::selection,
.messageAreaClass::selection {
	color: #fcd0a1;
}

.inputClass:focus,
.inputClass:hover {
	height: 46px;
	background-color: transparent;
	border: 0;
	outline: 0;
	border-bottom: 3px solid white;
	box-shadow: 0 4px 3px -3px #ffffff;
	-moz-box-shadow: 0 4px 3px -3px #ffffff;
	-webkit-box-shadow: 0 4px 3px -3px #ffffff;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	padding-left: 6px;
}

.inputClass:hover:after {
	opacity: 1;
}

.wideButtonClass {
	/* background-image: linear-gradient(to right, #df9d62 , #9e6839); */
	background: linear-gradient(90deg, var(--c1, #df9d62), var(--c2, #9e6839) 51%, var(--c1, #df9d62)) var(--x, 0)/ 200%;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	min-width: 305px;
	width: 25.3%;
	height: 50px;
	outline: 0;
	margin-top: 4px;
	margin-bottom: 10px;
}

.wideButtonClass:hover,
.wideButtonClass:focus {
	--x: 100%;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	outline: 0;
}

.sendButtonClass {
	/* background-image: linear-gradient(to right, #df9d62 , #9e6839); */
	background: linear-gradient(90deg, var(--c1, #df9d62), var(--c2, #9e6839) 51%, var(--c1, #df9d62)) var(--x, 0)/ 200%;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	min-width: 150px;
	width: 25%;
	height: 50px;
	outline: 0;
	position: relative;
	float: right;
}

.buttonClass {
	/* background-image: linear-gradient(to right, #df9d62 , #9e6839); */
	background: linear-gradient(90deg, var(--c1, #df9d62), var(--c2, #9e6839) 51%, var(--c1, #df9d62)) var(--x, 0)/ 200%;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	min-width: 150px;
	width: 12.5%;
	height: 50px;
	outline: 0;
}

.buttonClass:hover,
.buttonClass:focus,
.sendButtonClass:hover,
.sendButtonClass:focus {
	--x: 100%;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	outline: 0;
}

.pClass {
	color: white;
	text-shadow: 0 4px 6px rgba(143, 142, 142, 0.8);
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* MOBILE */
#landingMob {
	display: none;
}

@media screen and (max-width: 768px) {
	.navbar,
	#landingCon {
		display: none !important;
	}
	#landingMob {
		display: block;
		text-align: center !important;
	}
	#landingMob img {
		margin-top: 15vh;
		height: 40vw;
		width: 40vw;
	}

	#landingMob button {
		height: 7vh;
		width: 50% !important;
		border-radius: 4vh;
		font-size: 3vw;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	}
	#landingMob h1 {
		margin: 2vh 16px;
	}
	.pad {
		margin-top: 3vh !important;
		margin-bottom: 3vh !important;
	}
	.customGPlusSignIn {
		margin-top: 4vh;
	}
	.mob-link {
		color: white;
		margin: 0 auto !important;
		text-align: center;
		padding: 0;
		margin-top: 3vh !important;
	}
	.mob-link a {
		text-decoration: none !important;
		list-style-type: none;
	}
	.mob-link li {
		margin: .5vh 0;
		color: rgb(240, 230, 230);
		/* opacity: 80%; */
		font-size: 2.5vw;
	}
	#termsCon,
	#teamCon {
		padding-bottom: 10vh;
	}
}
